@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1255px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-inner {
    padding: 45px 0 16px 0;
    display: flex;
    align-items: center;

}

.navbar {
    list-style-type: none;
    margin-left: auto;
    display: flex;

}

.navbar-list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar-item {
    margin-left: 40px;
}

.logo-img {
    display: block;
}

.nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
}

/* ---------------------------------------------------------HERO-------------------------------------------------- */

.hero-inner {
    display: flex;
    align-items: center;
    padding: 70px 0 20px 0;
}

.hero-content {
    width: 715px;

}

.hero-title {
    margin-bottom: 34px;
    font-weight: 700;
    font-size: 72px;
    line-height: 82px;
    letter-spacing: 2px;
}

.title-span {
    color: #FF8A56;
}

.hero-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #666666;
    margin-bottom: 38px;
}

.hero-link {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    background: #000000;
    border-radius: 0px;
    text-decoration: none;
    padding: 20px 30px;
    margin-right: 40px;
}

.hero-link__active {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
}






/* ----------------------------------------------------PARTNERS--------------------------------------------- */

.partners {
    width: 862px;
    margin: 0 auto;
    padding: 65px 0;
}

.partners-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    text-align: center;
    margin-bottom: 45px;
}

.partners-links {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* ----------------------------------------------------- CONTENT------------------------------------------- */

.content-section{
    position: relative;
}
.content {
    position: relative;
    width: 1098px;
    margin: 0 auto;
    margin-bottom: 167px;
}

.content-text {
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
    color: #FF5E69;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.content-title-box {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 117px;
}

.content-title {
    font-weight: 700;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
}

.content-inner {
    display: flex;

}

.content-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;

}

.content-item {
    width: 285px;
}

.content-img {
    margin-bottom: 39px;
}

.content-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 24px;
}

.content-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #666666;
    margin-bottom: 21px;
}

.content-sublist {
    list-style-type: square;
    padding-left: 15px;
}

.content-subitem {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #000000;

}

/* ------------------------------------------PROOF--------------------------------------------- */
.feedback {
    margin-top: 100px;
}

.feedback-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 355px;
}

.feedback-text {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #B16CEA;
    margin-bottom: 20px;
}

.feedback-title {
    font-weight: 700;
    font-size: 54px;
    line-height: 59px;
    letter-spacing: 1px;
    color: #000000;
}

.feedback-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    background: #000000;
    border-radius: 0px;
    padding: 17px 30px 23px 30px;
    text-decoration: none;
}

.feedback-list {
    position: absolute;
    bottom: -500px;
    display: flex;
    list-style-type: none;
    
}

.feedback-item{
    margin-right: 24px;
    background-color: white;
}
.feedback-img {
    margin-bottom: 33px;
}


.feedback-item-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #3C46FF;
    margin-bottom: 17px;
}

.feedback-item-title {
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 19px;
}

.feedback-item-link {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 17px;
}

.blogs{
    background-color: #000000;
}